<app-header></app-header>
<div class="player-profile-page-container">
<div>
    <div class="upper-div">
        <div class="pages">
            <span><a href="#" class="page-1"> Game Name 1 </a></span>
            <span > / </span>
            <span><a href="#" class="page-2"> Player Name 1 </a></span>
        </div>

        <div class="player-name">
            <img src="../../assets/user-1.png" alt="">
            <span class="player-name-txt">
                <span> Player </span>
                <span> Name 1 </span>
            </span>
        </div>
    </div>

    <div class="player-accounts">
        <div class="player-account-single">
            <div>
                <img src="../../assets/twitter.png" alt="" class="img-accounts">
                <span class="txt-twitter">Twitter</span>
            </div>
            <div class="content"></div>
        </div>
        <div class="player-account-single">
            <div>
                <img src="../../assets/youtube.png" alt="" class="img-accounts">
                <span class="txt-youtube">YouTube</span>
            </div>
            <div id="youtube-content" class="content"></div>
        </div>
        <div class="player-account-single">
            <div>
                <img src="../../assets/instagram.png" alt="" class="img-accounts">
                <span class="txt-insta">Instagram</span>
            </div>
            <div class="content"></div>
        </div>
    </div>
</div>
</div>
